body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.file-upload .validation-warning{
    color: red;
    font-size: 12px
}
.share-links .link{
    background-color: #FFFFD5;
}
